@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  letter-spacing: 0;
  word-break: break-all;
  object-fit: contain;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--font-black);
}
p {
  line-height: 1.5;
  font-size: var(--p);
  color: var(--font-black);
}
:root {
  --main: #e8543d;
  --sub-color: #eab64d;

  --alert-green: #31a215;
  --alert-amber: #ef8523;
  --alert-red: #ffd5d5;

  --font-main: #ff725d;
  --font-black: #8d9196;
  --font-gray: #aaacad;
  --font-light-gray: #b4b4b4;

  --bg-gray: #d8dede;
  --bg-light: #e9f3f3;

  --pure-white: #ffffff;
  --line-black: #777777;
  --line-gray: #e8e8e8;
  --input-text: #d2d2d2;

  --bold: 700;
  --medium: 500;
  --regular: 400;
  --light: 200;

  --h1: 1.5rem;
  --h2: 1.375rem;
  --h3: 1.25rem;
  --h4: 1.125rem;
  --p: 1rem;
  --sub: 0.875rem;
}

a,
input,
button,
select,
textarea {
  text-decoration: none;
  outline-style: none;
  color: inherit;
  border: none;
  background-color: var(--pure-white);
}
button {
  cursor: pointer;
}
input::placeholder,
textarea::placeholder {
  color: var(--font-light-gray);
}

a.active {
  color: var(--main);
}

.bold {
  font-weight: var(--bold);
}

.visually-none {
  display: none;
}

.text-overflow-hidden {
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* global.css */
body {
  background-color: black;
}